@model VesoQuanli.Models.daili

@{
    ViewBag.Title = "Chi tiết";
}

<h2>Chi tiết đại lý @Html.DisplayFor(model=>model.Id)</h2>

<div>
    <h4>Đại lý</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TenDaili)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenDaili)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.diachi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.diachi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Sửa", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Trở về", "Index")
</p>
